[submodule "Testing/driver/kwsys"]
	path = Testing/driver/kwsys
	url = http://public.kitware.com/KWSys.git
[submodule "src/mchecksum"]
	path = src/mchecksum
	url = https://github.com/mercury-hpc/mchecksum.git
