[submodule "Testing/driver/kwsys"]
	path = Testing/driver/kwsys
	url = git://public.kitware.com/KWSys.git
[submodule "src/mchecksum"]
	path = src/mchecksum
	url = git://git.mcs.anl.gov/radix/mchecksum
